@model AWC.WebUI.Models.LogOnModel

@{
    ViewBag.Title = "LogOn";
}

<h2>LogOn</h2>


<div id="login-account">
    @using (Html.BeginForm())
    {        
        <div>
            <p>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </p>
            <p>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </p>
            <p>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </p>
            <p>
                <input type="submit" value="Log On" />
            </p>
            <p>
                Please enter your username and password. @Html.ActionLink("Register", "Register")
                if you don't have an account.
            </p>
        </div>
    }
</div>