@using AWC.WebUI.Models

@model ScheduleViewModel

@{
    ViewBag.Title = "Scheduled Clients";
}

<h2>Scheduled Clients</h2>

@{Html.RenderPartial("SubNavigation");}

@if (Model.Clients.Count() == 0)
{
    <p>There are no clients currently on the schedule.</p>
}
else
{
    <table class="data-list">
        <tr>
            <th>Scheduled Appt</th>
            <th>Client</th>
            <th>Requested Items</th>
            <th>Confirmations</th>
        </tr>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@Html.DateTimeDisplay(@client.ScheduledDateTime, linebreak: true)</td>
                <td><a href="@Url.Action("BasicInfo", "Clients", new { id = client.ClientId })">@client.FirstName @client.LastName</a> <br />@Html.PhoneDisplay(client.PrimaryPhoneNumber) (@Html.PhoneType(client.PhoneNumberTypeId))</td>
                <td>
                     @{Html.RenderPartial("RequestedItems", client.RequestedItems);}
                </td>
                <td>
                    @{ string statusClass = (client.TwoWeekConfirmation.HasValue) ? "completed" : "not-completed"; }
                    <span class="@statusClass">Two Week Confirmation</span><br />
                    
                    @{ statusClass = (client.TwoDayConfirmation.HasValue) ? "completed" : "not-completed"; }
                    <span class="@statusClass">Two Day Confirmation</span><br />

                    @{ statusClass = (client.SentLetterOrEmail) ? "completed" : "not-completed"; }
                    <span class="@statusClass">Sent Letter / Email</span>
                </td>
            </tr>
        }
    </table>
}


