@using AWC.Domain
@model AWC.WebUI.Models.WaitListViewModel
           
@{
    ViewBag.Title = "WaitList";
}

<h2>WaitList</h2>

<table style="width: 100%;">
    <tr>
        <th style="text-align: left;">Client</th>
        <th style="text-align: left;">Intake Date</th>
        <th>Requested Items</th>
        <th>Notes</th>
        <th style="text-align:right;">Schedule</th>
    </tr>
    @foreach (var client in Model.Clients)
    {
        <tr>
            <td><a href="@Url.Action("BasicInfo", "Clients", new {id = client.ClientId})">@client.FirstName @client.LastName</a> <br />@Html.PhoneDisplay(client.PrimaryPhoneNumber) (@Html.PhoneType(client.PhoneNumberTypeId))</td>
            <td>@Html.DateDisplay(client.CreatedDateTime)</td>
            <td>
                @{Html.RenderPartial("RequestedItems", client.RequestedItems);}
            </td>
            <td>
                @{Html.RenderPartial("ClientNotes", client.ClientNotes);}
            </td>
            <td style="text-align: right;">@Html.ActionLink("Schedule Now", "Create", new { clientId = client.ClientId })</td>
        </tr>
    }
</table>

