@model AWC.WebUI.Models.WaitListViewModel
           
@{
    ViewBag.Title = "WaitList";
}

<h2>WaitList</h2>

@if (Model.Clients.Count() == 0)
{
    <p>There are no clients on the waitlist.</p>
}
else
{
<table class="data-list">
    <tr>
        <th>Client</th>
        <th>Intake Date</th>
        <th>Requested Items</th>
        <th style="text-align: right;">Schedule</th>
    </tr>
    @foreach (var client in Model.Clients)
    {
        <tr>
            <td><a href="@Url.Action("BasicInfo", "Clients", new { id = client.ClientId })">@client.FirstName @client.LastName</a> <br />@Html.PhoneDisplay(client.PrimaryPhoneNumber) (@Html.PhoneType(client.PhoneNumberTypeId))</td>
            <td>@Html.DateDisplay(client.CreatedDateTime)</td>
            <td>@{Html.RenderPartial("RequestedItems", client.RequestedItems);} </td>
            <td style="text-align: right;">@Html.RouteLink("Add To Schedule", new { controller = "Schedule", action = "Create", id = client.ClientId }, new { @class = "btn schedule" })</td>
        </tr>
    }
</table>
}

