<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>A Wider Circle - @ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Public/images/favicon.ico")" />

    <!--Stylesheets-->
    <link rel="stylesheet" href="@Url.Content("~/Public/css/global.css")" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="@Url.Content("~/Public/css/ie.css")" /><![endif]-->

    <!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Public/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Public/js/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Public/js/jquery.form.js")" type="text/javascript"></script>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <header id="header">
        <div class="container">
            <h1 class="logo"><a href="#">A Wider Circle</a></h1>
            <nav>
                <ul class="menu-primary">
                    <li class="active"><a href="@Url.Action("Create", "Clients")">Client Info</a></li>
                    <li><a href="@Url.Action("WaitList", "Schedule")">Client Wait List</a></li>
                    <li><a href="@Url.Action("Confirmed", "Schedule")">Client Schedule</a></li>
                </ul>
            </nav>
            <section>
                <nav>
                    <ul class="menu-links">
                        <li><a href="#">My Dashboard</a></li>
                        <li><a href="#">Search Clients</a></li>
                    </ul>
                </nav>
                <form action="#" method="post" class="search">
                    <input type="text" id="s" name="s" value="quick search" class="text" />
                    <input type="submit" value="go" class="btn-go" />
                </form>
            </section>
        </div>
    </header>
    <section id="content">
        <div class="container">
            @{Html.RenderPartial("FlashMessage");}
            
            @RenderBody()
        </div>
        <div class="b"><!--spacer--></div>
    </section>
</body>
</html>