@using AWC.Domain
@model AWC.WebUI.Models.AppointmentQuickViewModel

@{
    Layout = null;
}

<h3>Appointment Info:</h3>

@if (Model.AppointmentId == null)
{
    // No open appointments
    <p>No Open Appointments</p>
}
else if (Model.AppointmentStatusId.HasValue && Model.AppointmentStatusId.Value == (byte)Constants.AppointmentStatusId.NotScheduled)
{
    // On Waitlist
    <p>On Waitlist</p>
}
else if (Model.AppointmentStatusId.HasValue && Model.AppointmentStatusId.Value != (byte)Constants.AppointmentStatusId.Closed
&& Model.ScheduledDateTime.HasValue && Model.ScheduledDateTime >= DateTime.Today)
{
    // Scheduled
    <p>@Html.ActionLink("Show On Full Schedule", "Calendar", "Schedule", new { id = Model.ClientId }, null)</p>
    <div id="scheduledDate"></div>
    <select name="hours" id="scheduledHour" style="font-size: larger;"></select>
    <select name="minutes" id="scheduledMinute" style="font-size: larger;"></select>
    <select name="ampm" id="scheduledAmPm" style="font-size: larger;">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
    </select>
    @Html.HiddenFor(m => m.ScheduledDateTime)
    <button type="button" id="updateScheduledDate" class="button">Update</button>
    <div class="flashmessage" id="scheduledDateFlash" style="display: none;"></div>

    <p>
    @if (Model.SentLetterOrEmail)
    {
        <div>Sent Letter / Email</div>
    }

    @if (Model.TwoWeekConfirmation.HasValue)
    {
        <div>Completed Two Day Confirmation (@Model.TwoWeekConfirmation.Value.ToString())</div>
    }
    else if (DateTime.Today.ToUniversalTime().AddDays(15) > Model.ScheduledDateTime.Value)
    {
        <div style="color:Red">Needs Two Week Confirmation!</div>
    }

    @if (Model.TwoDayConfirmation.HasValue)
    {
        <div>Completed Two Day Confirmation (@Model.TwoDayConfirmation.Value.ToString())</div>
    }
    else if (DateTime.Today.ToUniversalTime().AddDays(3) > Model.ScheduledDateTime.Value)
    {
        <div style="color:Red">Needs Two Day Confirmation!</div>
    }
    </p>
}
else if (Model.AppointmentStatusId.HasValue && (Model.AppointmentStatusId.Value == (byte)Constants.AppointmentStatusId.Closed
|| Model.ScheduledDateTime.HasValue && Model.ScheduledDateTime < DateTime.Today))
{
        <p>
        @Model.ScheduledDateTime.Value.ToLongDateString()
        <span style="white-space: nowrap">at @Model.ScheduledDateTime.Value.ToShortTimeString()</span>
        </p>
    }
