@model AWC.Domain.Entities.RequestedItem

<tr>
    @using (Html.BeginCollectionItem("requestedItems"))
    {
        <td>
            @Html.HiddenFor(model => model.RequestedItemId)
            @Html.HiddenFor(model => model.ItemName)
            @Model.ItemName
        </td>
        <td class="qty">
            @Html.HiddenFor(model => model.QuantityRequested)
            @Model.QuantityRequested
        </td>
        <td class="qty">
            @Html.TextBoxFor(model => model.QuantityReceived, new {@class = "small"})
        </td>
        <td class="comments">@Html.EditorFor(model => model.ReasonForNonReceipt)</td>
    }
</tr>