@model AWC.WebUI.Models.ClientNotesViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("AddNote", "Clients")) {
    @Html.ValidationSummary(true)
    
    @Html.EditorFor(model => model.ClientId)
    @Html.EditorFor(model => model.RefAction)
    @Html.Hidden("ClientNoteId", 0)
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Body)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)
    </div>

    <p>
        <input type="submit" value="Add Note" />
    </p>
}


@foreach (var item in Model.ClientNotes)
{
    <div class="note">
        @item.Body<br />
        Posted on @Html.DateTimeDisplay(item.TimeStamp)
    </div>
}


