@model AWC.WebUI.Models.RequestedItemsViewModel

@{
    ViewBag.Title = string.Format("{0} {1}", Model.FirstName, Model.LastName);
}

<h2>Edit Record for <em>@Model.FirstName @Model.LastName</em></h2>

@{Html.RenderPartial("SubNavigation", Model.ClientId);}

<article>
    <div class="items-form">
@using (Html.BeginForm())
{
    <input type="hidden" name="clientId" value="@Model.ClientId" />
    <input type="hidden" name="appointmentId" value="@Model.AppointmentId" />
    
    Html.ValidationSummary(true);

    <div class="block">
        <h3>Receiving Requested Items</h3>
        <table id="requesteditems" width="100%" class="items">
            <tr>
                <th style="text-align: left;">Item</th>
                <th>Qty Requested</th>
                <th>Qty Received</th>
                <th>Comments</th>
            </tr>
            @if (Model.RequestedItems != null && Model.RequestedItems.Count > 0)
            {
                foreach (var item in Model.RequestedItems)
                {
                    Html.RenderPartial("CheckOffRequestedItem", item);
                }
            }
        </table>
    </div>
    <div class="block">
        <h3>Receiving Additional Items</h3>
        <table class="items">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th colspan="2">Item Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="quantity"><input class="text-box single-line" data-val="true" data-val-number="The field QuantityRequested must be a number." data-val-required="The QuantityRequested field is required." type="text" value="1"></td>
                    <td class="item_name"><input class="text-box single-line" data-val="true" data-val-length="The field ItemName must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="The ItemName field is required." type="text" value=""></td>
                    <td class="action"><a href="#" class="deleteRow" title="Remove">Remove</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><a href="#" id="add_item">Add New Item</a></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <input type="submit" value="Submit" class="button" />
}
    </div>
    
    @if (Model.PreviousItems != null && Model.PreviousItems.Count > 0)
    {
        <div class="block static items-received">
            <h3>Previously Received Items</h3>
            @foreach (var previousAppointment in @Model.PreviousItems)
            {
                <table class="items">
                    <thead>
                        <tr>
                            <th colspan="2"><h4>@previousAppointment.AppointmentDateTime.ToString("D") &mdash; @previousAppointment.AppointmentDateTime.ToString("T")</h4></th>
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <th>Item Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in previousAppointment.RequestedItems)
                        {
                            <tr>
                                <td class="quantity"><strong>@item.QuantityReceived</strong> out of @item.QuantityRequested</td>
                                <td class="item_name">@item.ItemName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }

</article>
<aside>
    @{Html.RenderAction("AppointmentQuickView", new { id = Model.ClientId });}
    @{Html.RenderAction("ClientNotes", new { id = Model.ClientId, refAction = "BasicInfo" });}
</aside>
