@model AWC.WebUI.Models.ClientNotesViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("AddNote", "Clients")) {
    @Html.ValidationSummary(true)
    
    @Html.EditorFor(model => model.ClientId)
    @Html.EditorFor(model => model.RefAction)
    @Html.Hidden("ClientNoteId", 0)
    
<div class="notes">
    <h3>Notes:</h3>

    <div class="field-block">
        @*@Html.LabelFor(model => model.Body)*@
        @Html.TextAreaFor(model => model.Body)
        @Html.ValidationMessageFor(model => model.Body)
    </div>

    <input type="submit" value="Add Note" class="button" />
</div>
}


@foreach (var item in Model.ClientNotes)
{
    <div class="note">
        @item.Body<br />
        Posted on @Html.DateTimeDisplay(item.PostedDateTime)
    </div>
}


