@model AWC.WebUI.Models.RequestedItemsViewModel

<table border="1" width="100%" id="requestedItemsTable">
    <tr>
        <th>@Html.LabelFor(model => model.ItemName)</th>
        <th>@Html.LabelFor(model => model.QuantityRequested)</th>
        <th>@Html.LabelFor(model => model.Received)</th>
        <th>@Html.LabelFor(model => model.QuantityReceived)</th>
        <th>@Html.LabelFor(model => model.ReasonForNonReceipt)</th>
    </tr>
    @{
        if (Model.RequestedItems != null && Model.RequestedItems.Count > 0)
        {
            foreach (var item in Model.RequestedItems)
            {
                Html.RenderPartial("EditRequestedItem", item);
            }
        }
        else
        {
            Html.RenderPartial("EditRequestedItem", new AWC.Domain.Entities.RequestedItem());
        }
    }
</table>

<div id="addRequestedItemForm">
@using (Html.BeginForm("AddNewItem", "Clients")) {
    <input type="submit" id="addNewItem" value="Add New Item" />
}
</div>

<script type="text/javascript" language="javascript">
    $(function () {
        $('#addRequestedItemForm form').ajaxForm({
            type: 'POST',
            success: function (html) {
                $('#requestedItemsTable').append(html);
            }
        });
    });
</script>