@model AWC.Domain.Entities.RequestedItem

<tr>
    <td>@Html.EditorFor(model => model.ItemName)<br />@Html.ValidationMessageFor(model => model.ItemName)</td>
    <td>@Html.EditorFor(model => model.QuantityRequested)<br />@Html.ValidationMessageFor(model => model.QuantityRequested)</td>
    <td>@Html.EditorFor(model => model.Received)<br />@Html.ValidationMessageFor(model => model.Received)</td>
    <td>@Html.EditorFor(model => model.QuantityReceived)<br />@Html.ValidationMessageFor(model => model.QuantityReceived)</td>
    <td>@Html.EditorFor(model => model.ReasonForNonReceipt)<br />@Html.ValidationMessageFor(model => model.ReasonForNonReceipt)</td>
</tr>