@model AWC.Domain.Entities.ResidentIncome

@{
    Layout = null;
}

<tr>
    @using (Html.BeginCollectionItem("ResidentIncomes"))
    {
        <td>
            @Html.HiddenFor(model => model.ResidentIncomeId)
            @Html.CheckBoxFor(model => model.IsHeadOfHousehold)
        </td>
        <td>@Html.EditorFor(model => model.ResidentName)</td>
        <td>@Html.EditorFor(model => model.Relationship)</td>
        <td class="monthlyIncome">@Html.EditorFor(model => model.MonthlyIncome)</td>
        <td>@Html.EditorFor(model => model.SourceOfIncome)</td>
    }
</tr>