@using AWC.Domain.Entities
@model AWC.WebUI.Models.RequestedItemsViewModel

@{
    ViewBag.Title = string.Format("{0} {1}", Model.FirstName, Model.LastName);
}

<h2>Edit Record for <em>@Model.FirstName @Model.LastName</em></h2>

@{Html.RenderPartial("SubNavigation", Model.ClientId);}

<article>
    @if (Model.AppointmentId > 0)
    {
    <div class="items-form">
        @using (Html.BeginForm())
        {
            <input type="hidden" name="clientId" value="@Model.ClientId" />
            <input type="hidden" name="appointmentId" value="@Model.AppointmentId" />
    
            Html.ValidationSummary(true);
                                 
            <div class="block">
                <h3>Requested Items</h3>
                <table id="requesteditems" class="items">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th colspan="2">Item Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.RequestedItems != null && Model.RequestedItems.Count > 0)
                        {
                            foreach (var item in Model.RequestedItems)
                            {
                                Html.RenderPartial("EditRequestedItem", item);
                            }
                        }
                        @{ Html.RenderPartial("EditRequestedItem", new RequestedItem { QuantityRequested = 1 }); }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3"><a href="#" id="add_item">Add New Item</a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <input type="submit" value="Save" class="button" />
        }
    </div>
    }

    @if (Model.PreviousItems != null && Model.PreviousItems.Count > 0)
    {
        <div class="block static items-received">
            <h3>Previously Requested Items</h3>
            @foreach (var previousAppointment in @Model.PreviousItems)
            {
                <table class="items">
                    <thead>
                        <tr>
                            @if (previousAppointment.AppointmentDateTime.HasValue)
                            {
                                <th colspan="2"><h4>@previousAppointment.AppointmentDateTime.Value.ToString("D") &mdash; @previousAppointment.AppointmentDateTime.Value.ToString("T")</h4></th>
                            }
                            else
                            {
                                <th colspan="2"><h4>Never Scheduled</h4></th>
                            }
                        </tr>
                        <tr>
                            <th>Quantity</th>
                            <th>Item Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in previousAppointment.RequestedItems)
                        {
                            <tr>
                                <td class="quantity"><strong>@item.QuantityReceived</strong> out of @item.QuantityRequested</td>
                                <td class="item_name">@item.ItemName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
</article>
<aside>
    @{Html.RenderAction("AppointmentQuickView", new { id = Model.ClientId });}
    @{Html.RenderAction("ClientNotes", new { id = Model.ClientId, refAction = "BasicInfo" });}
</aside>

<script type="text/javascript">
    // Load all unique item types to make the autocomplete faster
    window.distinctItems = @{Html.RenderAction("DistinctItems", "Search");}
</script>