@model AWC.WebUI.Models.PartnerInfoViewModel

@{
    ViewBag.Title = string.Format("Partner Info for {0} {1}", Model.ClientFirstName, Model.ClientLastName);
}

<h2>Edit Record for <em>@Model.ClientFirstName @Model.ClientLastName</em></h2>

@{Html.RenderPartial("SubNavigation", Model.ClientId);}

@using (Html.BeginForm()) {

    @Html.EditorFor(model => model.ClientId)
    @Html.EditorFor(model => model.CaseworkerId)
    @Html.EditorFor(model => model.ClientFirstName)
    @Html.EditorFor(model => model.ClientLastName)
    
    <div class="block">
    
        <div class="field-block">
            @Html.LabelFor(model => model.PartneringOrgId)

            @Html.DropDownListFor(model => model.PartneringOrgId, new SelectList(ViewData["PartneringOrgs"] as IEnumerable, "PartneringOrgId", "OrganizationName", Model.PartneringOrgId), "Select Organization...")
            @Html.ValidationMessageFor(model => model.PartneringOrgId)
        </div>
    
        <div class="field-block">
            @Html.LabelFor(model => model.Department)
            @Html.EditorFor(model => model.Department)
        </div>
    
        <div class="field-block">
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    
        <div class="field-block">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    
        <div class="field-block">
            @Html.LabelFor(model => model.ExternalId)
            @Html.EditorFor(model => model.ExternalId)
        </div>
    
        <div class="field-block">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
        </div>
    
        <div class="field-block">
            @Html.LabelFor(model => model.IsReplacingFurniture)
            <div class="list">
                @Html.EditorFor(model => model.IsReplacingFurniture)
            </div>
        </div>
    </div>

    <input type="submit" value="Save" class="button" />
    @*@Html.ActionLink("Cancel", "BasicInfo", new { id = Model.ClientId })*@
}

@{Html.RenderAction("ClientNotes", new { clientId = Model.ClientId, refAction = "PartnerInfo"});}

